:root {
  --primary: #265d91;
  --secondary: #2753ba;
  --tertiary: #19272e;
  --light: #d7e6f3;
  --dark: #19272e;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --border-radius: 0.3rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

.App {
  flex: 1 0 auto;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

img {
  border-radius: 25px;
  height: 100vh;
  width: 100%;
}

.MuiFormLabel-root.Mui-focused {
  color: #616161 !important;
}

.footerContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.footerBox {
  margin-top: -8rem;
  background-color: #2753ba;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #2753ba;
  border-radius: 15px;
  padding: 3.5rem 1.25rem;
  font-size: 1.5rem;
  color: white;
}
 #app-logo{
   width: auto;
   height: 9vh;
 }
footer {
  flex-shrink: 0;
  padding: 4rem 1.5rem;
  background: rgb(128,211,253);
  background: linear-gradient(342deg, rgba(128,211,253,1) 17%, rgba(0,166,251,1) 100%);
  color: white;
  text-align: center;
  margin-top: 10rem;
}

.svgLink {
  transition: .03s;
}

.px-2 {
  padding-right: .5rem!important;
}



.moveContainer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-slider {
  display: inline-block;
}

.props-form {
  display: inline
}

body, .landing {
  background: rgba(4, 91, 251, 1);
  background: -webkit-linear-gradient( top, rgba(4, 91, 251, 1), rgba(86, 195, 207, 1));
  background: -moz-linear-gradient( top, rgba(4, 91, 251, 1), rgba(86, 195, 207, 1));
  background: linear-gradient( to bottom, rgba(4, 91, 251, 1), rgba(86, 195, 207, 1));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--light);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  /* color: var(--dark); */
  line-height: 1.5;
  font-size: 16px;
}

header, .description, .center-text, .card-body, .card-header, .user-card, .subtitle {
  text-align: center;
}

.margin {
  margin-bottom: 20px;
}

.spacing {
  margin-left: .5rem !important;
  margin-right: .5rem !important;
}

header, .title {
  color: var(--light);
  background-size: cover;
  background-blend-mode: screen;
  /* border-bottom: var(--dark) solid 5px; */
  padding: 20px;
}

header {
  margin-bottom: 2rem;
}

#home-div, #footer-wrap {
  border: none;
}

#footer-wrap {
  display: flex;
  justify-content: center;
}

/* footer {
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px var(--dark);
  padding: 15px 5px;
  margin: 5px 0;
  border: none;
  outline: none;
  transform: translate(-1px, -1px);
  background-color: #38302e;
  color: #ccdad1;
  width: 25%;
} */

#footer {
  font-size: 1rem;
}

#prompt {
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px var(--dark);
  padding: 15px 5px;
  margin: 5px 0;
  border: none;
  outline: none;
  transform: translate(-1px, -1px);
}

.login-form, .signup-form, .edit-user-form, .avatar-div {
  display: flex;
  justify-content: center;
}

#update-btn {
  margin-bottom: 20px;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

main {
  margin: 20px auto;
  width: 94%;
  border: none;
}

p {
  font-size: 1.2rem;
}

.p-dark {
  color: var(--tertiary);
}

.social_icons {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 45px;
}

iframe {
  height: 100vh;
}

#file-upload-button {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--dark);
  border: none;
  outline: none;
  background-color: var(--light);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn  {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--dark);
  border: none;
  outline: none;
  background-color: var(--light);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}
.create-btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--light);
  border: none;
  outline: none;
  background-color: green;
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}
.back-btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--light);
  border: none;
  outline: none;
  background-color: red;
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}
.btnNav {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}
ul {
  background-color: none;
  justify-content: center;
}

.btn:hover, .btn-secondary:hover, .app-title:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-inline {
  display: inline;
}

.btn-back {
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--secondary);
  transform: translate(-1px, -1px);
  display: inline-block;
  width: auto;
  margin-top: 20px;
  padding: 15px;
  text-decoration: none;
  font-size: 1.2rem;
}

.btn-back:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-secondary {
  font-size: 1.5rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  margin: 20px;
}

.hero {
  padding: 3% 4%;
  background-color: var(--dark);
  color: var(--primary);
}

.hero p {
  max-width: 75%;
}

.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

.list-group {
  padding: 0;
  list-style: none;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light-dark);
  color: var(--primary);
  text-decoration: none;
}

.tenant-info {
  list-style-type: none;
}

#lease-doc {
  text-decoration: none;
  columns: var(--light);
}

.list-item:hover {
  background-color: var(--dark);
}

.status-icon {
  padding: 2px 5px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--border-radius);
}

.icon-danger {
  color: rgb(255, 70, 70);
}

.icon-success {
  color: rgb(29, 153, 255);
}

/* CARDS */

.card {
  margin:0 auto; 
  /* padding-top: 5rem;  */
  /* border: 3px solid var(--dark); */
  border-radius: var(--border-radius);
  height: 100%;
  width: 40%;
  display: block;
}
.options-card {
  margin:0 auto; 
  /* padding-top: 5rem;  */
  /* border: 3px solid var(--dark); */
  border-radius: var(--border-radius);
  height: 100%;
  width: 60%;
  display: block;
}
.new-card {
  margin:0 auto; 
  /* padding-top: 5rem;  */
  /* border: 3px solid var(--dark); */
  border-radius: var(--border-radius);
  height: 100%;
  width: 100%;
  display: block;
}

.card-header {
  color: var(--light);
  background-color: var(--dark);
  border-radius: var(--border-radius);
  padding: 3% 10%;
  margin: 2% 5%;
}

.card-body {
  background-color: var(--secondary);
  border-radius: var(--border-radius);
  padding: 3% 10%;
  margin: 0 5%;
}


.p-dark {
  color: var(--tertiary);
}

.social_icons {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 45px;
}

#property-checkbox {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

/* .carousel-container {
  width: 100%;
} */

/* .carousel .slide {
  padding: 5rem;
  background: none;
  width: 100%;
  height: 100%;
} */

/* TABLE */

.table {
  margin: auto;
  /* border: 3px solid var(--dark); */
  border-radius: var(--border-radius);
  height: 100%;
  width: 50%;
}

/* FORM */
.form-detail {
  width: 49%;
  display: inline-block;
  justify-content: space-between;
}
.form-label, .form-input, .form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  /* border: 2px solid var(--light-dark); */
  border-radius: var(--border-radius);
}

/* HEIGHT / WIDTH UTILS */

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  max-width: 100vw;
}

/* FONT UTILS */

.text-uppercase {
  text-transform: uppercase;
}

/* FLEX CONTENT */

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
  flex: 0 0 100%;
}

/* ============== MEDIA QUERIES  for various screen formats.   ==================== */

@media screen and (max-width: 320px) {

  img {
    height: auto;
    width: 300px;
  }
  .card {
    margin:0 auto; 
    /* padding-top: 5rem;  */
    /* border: 3px solid var(--dark); */
    border-radius: var(--border-radius);
    height: 100%;
    width: 80%;
    display: block;
  }
  .new-card {
    margin:0 auto; 
    /* padding-top: 5rem;  */
    /* border: 3px solid var(--dark); */
    border-radius: var(--border-radius);
    height: 100%;
    width: 60%;
    display: block;
  }

  .flex-column-sm {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
}

/* col-sm */

@media screen and (max-width: 640px) {

  .col-sm-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .col-sm-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .col-sm-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .col-sm-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .col-sm-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .col-sm-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .col-sm-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .col-sm-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .col-sm-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .col-sm-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .col-sm-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
  img {
    height: 350px;
    width: auto;
    /* border: var(--dark) solid 3px; */
  }
  .card {
    margin:0 auto; 
    /* padding-top: 5rem;  */
    /* border: 3px solid var(--dark); */
    border-radius: var(--border-radius);
    height: 100%;
    width: 80%;
    display: block;
  }
  .new-card {
    margin:0 auto; 
    /* padding-top: 5rem;  */
    /* border: 3px solid var(--dark); */
    border-radius: var(--border-radius);
    height: 100%;
    width: 60%;
    display: block;
  }

  .flex-column-sm {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
  .options-card {
    margin:0 auto; 
    /* padding-top: 5rem;  */
    /* border: 3px solid var(--dark); */
    border-radius: var(--border-radius);
    height: 100%;
    width: 80%;
    display: block;
  }
}

/* col-md */

@media screen and (max-width: 768px) {
  .moveContainer {
    padding: 5rem 5rem 3rem 5rem;
  }

  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
  img {
    height: 350px;
    width: auto;
    /* border: var(--dark) solid 3px; */
  }
  .card {
    margin:0 auto; 

    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    display: block;
  }
  .new-card {
    margin:0 auto; 
 
    border-radius: var(--border-radius);
    height: 100%;
    width: 90%;
    display: block;
  }
  .options-card {
    margin:0 auto; 
    /* padding-top: 5rem;  */
    /* border: 3px solid var(--dark); */
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    display: block;
  }
}

/* col-lg */

@media screen and (max-width: 992px) {
  .svgLink:hover {
    fill: #80d3fd;
    transform: scale(1.05);
  }

  .px-2 {
    padding-right: 2rem!important;
  }
  

  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
}

/* col-xl */

@media screen and (max-width: 1200px) {

  .col-xl-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .col-xl-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .col-xl-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .col-xl-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .col-xl-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .col-xl-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .col-xl-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .col-xl-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .col-xl-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .col-xl-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .col-xl-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .col-xl-12 {
    flex: 0 0 100%;
  }
}

/* :root {
  --primary: #265d91;
  --secondary: #2753ba;
  --tertiary: #19272e;
  --light: #d7e6f3;
  --dark: #19272e;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

/* html,
body {
  min-height: 100%;
} */

/* html,
body,
.landing-image {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
  background-color: #2753ba;
  background-image: url("./assets/images/blueprint6.jpg");
  background-repeat:repeat;
  background-size:contain;
  background-position: 95%;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#legend {
  cursor: pointer;
} */

/* .landing-image {
  background-color: #2753ba;
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
} */

/* .App {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
}

.form,
.posts {
  margin-top: 3rem;
}



a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: var(--tertiary) !important;
  background-color: rgb(204, 236, 247) !important;
}

h1 a {
  text-decoration: none !important;
  color: white !important;
}

h1 a:hover,
h1 a:focus,
h1 a:active, .item {
  text-decoration: none !important;
  color: blue !important;
}

.ui.table {
  background: #7498bd1a;
  color:  #b4d2f01a;
}

.ui.table tr td {
  background: #b4d2f01a;
}

@media screen and (max-width: 768px) {

#legend {
  display: none;
}

.landing-image {
  background-repeat:repeat;
}

.item {
  width: 100%;
  padding-left: 0!important;
  padding-right: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;
  text-align: center;
  display: flex;

}

} */