:root {
  --primary: #265d91;
  --secondary: #2753ba;
  --tertiary: #19272e;
  --light: #d7e6f3;
  --dark: #19272e;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

/* html,
body {
  min-height: 100%;
} */

html,
body, .landing-image {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
  background-color: #2753ba;
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* .landing-image {
  background-color: #2753ba;
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
} */

.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.form,
.posts {
  margin-top: 3rem;
}
